@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Montserrat:wght@300;900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    background-color: rgba(211,211,211, 0.1);
}

.activity-title{
    font-size: 30px;
    padding-top: 40px;
    z-index: 1;
    color: rgba(46, 196, 182, 1);
}


.activity-pic{
    width: 63em;
    height: 33em;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
}

.block{
    background-color: rgba(255,255,255, 1);
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    margin: 0px 50px 50px 50px;
    border-radius: 40px;
}

.center{
    text-align: center;
}

.texts{
    padding: 0px 100px 10px 100px;
    margin-top: 0px;
}

.subtitle{
    color: rgba(46, 196, 182, 1);
    font-weight: bold;
    display: inline-block;
}

.activity-cost{
    display: inline-block;
}

.heart{
    padding: 20px;
    display: inline-block;
    border: none;
    border-radius: 1000px;
    margin: 0 0 30px 90px;
    font-family: "Montserrat", sans-serif;
}

.remove-heart{
    color: red;
}

.remove{
    background-color: #cbf3f0;
}

.remove:hover {
    background-color: #2ec4b6;
}

.remove:hover .fas{
    background-color: #2ec4b6;
    color: rgba(0,0,0,1);
}

.adds{
    background-color: #2ec4b6;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.adds:hover{
    background-color: #cbf3f0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.adds:hover .fas{
    background-color: #2cbf3f0;
    color: red;
}

.ctg-container{
    margin-left: 100px;
    margin-bottom: 40px;
}