<!DOCTYPE html>
<html lang="en">
    {% extends "newbase.html" %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Activity Details</title>
</head>
<>
    {% block content %}
    <div class="block">
        <link rel="stylesheet" type="text/css" href="{% static 'activity/activitydetails.css' %}">
        <div class="center"><h1 class="activity-title">{{ title }}</h1></div>
        <div class="pic"><img src="{{ picture.url }}" class="activity-pic"/></div>
        <div class = "texts">
            <p class="activity-desc">{{ description }}</p>
            <h3 class="subtitle">Activity Cost:</h3>
            <p class="activity-cost">{{ cost }}</p>
        </div>

        {% if check %}
            <form action="{% url 'remove-activity' activity_id=id%}">
                {% csrf_token %}
                <div class="button-save">
                        <button type="submit" class="heart remove" style="background-colour: #D3D3D3;"> Remove Activity
                        <i class="fas fa-heart fa-lg remove-heart"></i>
                        </button>
                </div>
            </form>
        {% else %}
            <form action="{% url 'save-activity' activity_id=id%}">
                {% csrf_token %}
                <div class="button-save">
                        <button type="submit" class="heart adds"> Add Activity
                        <i class="fas fa-heart fa-lg add-heart"></i>
                        </button>
                </div>
            </form>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>