<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'signup/signup.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="center">
        <div class="signup-block">
            <h1>Create Your Account</h1>
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                {% for field in signupform %}
                    <p>
                        <span class="to-fill">{{field}}</span>
                        {% for error in field.errors %}
                            <p style="color: red; font-size: 10px">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <input type="submit" value="Sign Up" id="create">
            </form>
        </div>
    </div>
</body>
</html>