@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body{
    color: #2ec4b6;
    font-family: 'Montserrat', sans-serif;
    background-image: url("welcome.png");
    background-size: 100% auto;
}

.title{
    color: rgba(255,255,255,1);
    text-align: center;
    margin-top: 15%;
    font-size: 60px;
}

.sign-button{
    background-color: #ff9f1c;
    padding: 20px 40px 20px 40px;
    margin: 2%;
    border-radius: 1000px;
    text-decoration: none;
    color: #FFFFFF;
}

.sign-button:hover{
    background-color: #ffbf69;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center{
    text-align:center;
    margin-top: 5%;
}